<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.navada.donit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- maps permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bck"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bck"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EnlargeImageActivity" />
        <activity
            android:name=".activities.SignInActivity"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DonorSignUpActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".activities.OrganisationSignUpActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="screenSize|orientation" />
        <activity
            android:name=".activities.VerificationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.OrganizationRequirementActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.DonationLocationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.OrganizationLocationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.RequirementsEditorActivity"
            android:configChanges="screenSize|orientation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCEmhSA4pGx-7RhHebLuImBNzM4Vmh6ceQ" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>